<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="perseus_lite">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="serial_port" default="/dev/ttyUSB0" />
   
  
  <xacro:property name="real_hardware_plugin"
  value="perseus_lite_hardware/ST3215SystemHardware" />
  <xacro:property name="use_mock_hardware" value="$(arg use_mock_hardware)" />
  <xacro:property name="hardware_plugin"
    value="${'mock_components/GenericSystem' if use_mock_hardware else real_hardware_plugin}" />

  <!-- Import URDF description -->
  <xacro:include filename="$(find perseus_lite_description)/urdf/perseus_lite.urdf.xacro" />
  <!-- Import colours for rviz -->
  <xacro:include filename="$(find perseus_lite_description)/urdf/perseus_lite.materials.xacro" />
  <!-- Import ros2_control description -->
  <xacro:include filename="$(find perseus_lite_description)/ros2_control/perseus_lite.ros2_control.xacro" />

  <!-- Instantiate the description and the ROS2 control information -->
  <xacro:perseus_lite prefix="$(arg prefix)" />
  <xacro:perseus_lite_ros2_control name="PerseusLite" prefix="$(arg prefix)" hardware_plugin="${hardware_plugin}" serial_port="$(arg serial_port)"/>
</robot>
