/.github/ @RandomSpaceship @OMEN44 @UltraFishy
/docs/ @RandomSpaceship @UltraFishy @OMEN44 @TheFriendlyGoat @DingoOz

/software/ros_ws/ @RandomSpaceship @UltraFishy @DingoOz @OMEN44
/software/web_ui/ @OMEN44 @UltraFishy
/software/shared/ @RandomSpaceship @GR3Y-SCALE @UltraFishy @DingoOz

# package owners
/software/ros_ws/src/perseus_sensors/**/m2m2_lidar/ @DingoOz