#! /usr/bin/env bash
# use nix direnv to make evaluation faster
if ! has nix_direnv_version || ! nix_direnv_version 3.0.7; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.7/direnvrc" "sha256-bn8WANE5a91RusFmRI7kS751ApelG02nMcwRekC/qzc=" &>/dev/null
fi

use flake . --accept-flake-config
# print out autocomplete instructions
printf '\033[0;33m' # orange text (makes it stand out more)
echo "--------------------"
echo "Run  this command to set up autocomplete in your shell:"
# shellcheck disable=SC2016
echo 'eval "$(mk-workspace-shell-setup)"'
echo
echo 'Alternatively, you can run:'
echo 'source software/scripts/autocomplete.sh'
echo "--------------------"
printf '\033[0m' # clear text formatting
