[submodule "software/ros_ws/src/perseus_behavior/external/BehaviorTree.CPP"]
	path = software/ros_ws/src/perseus_behavior/external/BehaviorTree.CPP
	url = https://github.com/BehaviorTree/BehaviorTree.CPP.git
[submodule "software/ros_ws/src/perseus_behavior/external/BehaviorTree.ROS2"]
	path = software/ros_ws/src/perseus_behavior/external/BehaviorTree.ROS2
	url = https://github.com/BehaviorTree/BehaviorTree.ROS2.git
[submodule "software/ros_ws/src/perseus_behavior/BehaviorTree.CPP"]
	path = software/ros_ws/src/perseus_behavior/BehaviorTree.CPP
	url = https://github.com/BehaviorTree/BehaviorTree.CPP.git
[submodule "software/ros_ws/src/perseus_behavior/BehaviorTree.ROS2"]
	path = software/ros_ws/src/perseus_behavior/BehaviorTree.ROS2
	url = https://github.com/BehaviorTree/BehaviorTree.ROS2.git
