<?xml version="1.0"?>
<robot name="chassis" xmlns:xacro="http://ros.org/wiki/xacro">


  <link name="${prefix}chassis">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.2"/>
    <inertia ixx="0.00014" iyy="0.00014" izz="0.00025" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>

    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0.0 -${pi/2}"/>
      <geometry>
        <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/chassis.dae"/>
      </geometry>
    </visual>
    
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0.0 -${pi/2}"/>
      <!-- Modified to make collision more simple, chassis mesh replaced with box -->
      <geometry>
        <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/chassis.dae"/>
      </geometry>
    </collision>
  </link>



  <gazebo reference="${prefix}chassis">
      <material>Gazebo/Grey</material>
      <sensor name="imu_sensor" type="imu">
          <always_on>1</always_on>
          <update_rate>10</update_rate>
          <visualize>true</visualize>
          <topic>imu</topic>
      </sensor>
  </gazebo>

  
</robot>