<?xml version="1.0"?>
<robot name="chassis" xmlns:xacro="http://ros.org/wiki/xacro">


  <link name="${prefix}chassis">
    <!-- <inertial>
      <origin xyz="0.0 -0.17100473204 0.14732485976" rpy="0 0 0"/>
      <mass value="2.7689940302592726"/>
      <inertia ixx="0.170464" iyy="0.092623" izz="0.224359" ixy="0.0" iyz="0.005411" ixz="-0.0"/>
    </inertial> -->

    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0.0 -${pi/2}"/>
      <geometry>
        <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/chassis.dae"/>
      </geometry>
    </visual>
    
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0.0 -${pi/2}"/>
      <!-- Modified to make collision more simple, chassis mesh replaced with box -->
      <geometry>
        <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/chassis.dae"/>
      </geometry>
    </collision>
  </link>

</robot>