<?xml version="1.0"?>
<robot name="flange_bearing" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:property name="bar_length" value="0.5"/>
<xacro:property name="bar_width" value="0.03"/>
<xacro:property name="bar_height" value="0.03"/>

<xacro:property name="bearing_length" value="0.2"/>
<xacro:property name="bearing_width" value="0.03"/>
<xacro:property name="bearing_height" value="0.03"/>
<xacro:property name="bearing_mass" value="2.7689940302592726"/>  <!-- Kg -->
<!-- Flange Bearing -->
<link name="${prefix}flange_bearing">
    <inertial>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    <mass value="${bearing_mass}"/>
    <inertia ixx="0.001313" iyy="0.001699" izz="0.000647" ixy="0.0" iyz="0.0" ixz="-0.0"/>
    </inertial>

    <visual>
    <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0 ${pi/2}"/>
    <geometry>
        <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/flange_bearing.dae"/>
    </geometry>
    </visual>
    
    <collision>
    <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0 ${pi/2}"/>
    <geometry>
        <box size="${bar_length/scale_factor} ${bar_width/scale_factor} ${bar_height/scale_factor}"/>
    </geometry>
    </collision>
</link>



<!-- Balance/differential bar -->
<link name="${prefix}differential_bar">
    <inertial>
        <origin xyz="0 0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="0.9172649518127158"/>
        <xacro:box_inertia m="${chassis_mass}" x="${chassis_length/scale_factor}" y="${chassis_width/scale_factor}" z="${chassis_height/scale_factor}"/>
    </inertial>

    <visual>
    <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <geometry>
        <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/differential_bar.dae"/>
    </geometry>
    </visual>
    <collision>
    <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <geometry>
        <box size="${bar_length/scale_factor} ${bar_width/scale_factor} ${bar_height/scale_factor}"/>
    </geometry>
    </collision>
</link>

<joint name="${prefix}differential_bar_joint" type="fixed">
    <origin xyz="${-0.05/scale_factor} 0.0 0.0" rpy="0 0.0 0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <parent link="${prefix}flange_bearing"/>
    <child link="${prefix}differential_bar"/>
</joint>


</robot>