<?xml version="1.0"?>
<robot name="rocker" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="${prefix}left_rocker">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi}"/>
      <geometry>
        <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/rocker_left.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi}"/>
      <geometry>
        <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/rocker_left.dae"/>
      </geometry>
    </collision>
  </link>


  <link name="${prefix}right_rocker">
    <!-- <inertial>
    </inertial> -->
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi}"/>
      <geometry>
        <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/rocker_right.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi}"/>
      <geometry>
        <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/rocker_right.dae"/>
      </geometry>
    </collision>
  </link>


</robot>