<?xml version="1.0"?>
<robot name="wheel" xmlns:xacro="http://ros.org/wiki/xacro">

<link name="${prefix}front_left_wheel">
  <inertial>
    <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 ${pi}"/>
    <mass value="${wheel_mass}"/>        
    <xacro:cylinder_inertia m="${wheel_mass}" radius="${wheel_radius}" length="${wheel_length}"/>
  </inertial>
  <visual>
    <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 ${pi}"/>
    <geometry>
      <mesh scale="${0.1} ${0.1}  ${0.1}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </visual>
  <collision>
    <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 ${pi}"/>
    <geometry>
      <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
    </geometry>
  </collision>
</link>


<link name="${prefix}front_right_wheel">
  <inertial>
    <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 0.0"/>
    <mass value="${wheel_mass}"/>       
    <xacro:cylinder_inertia m="${wheel_mass}" radius="${wheel_radius}" length="${wheel_length}"/>
  </inertial>
  <visual>
      <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 0.0"/>
    <geometry>
      <mesh scale="${0.1} ${0.1}  ${0.1}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </visual>

  <collision>
    <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 0.0"/>
    <geometry>
      <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
    </geometry>
  </collision>
</link>

<link name="${prefix}rear_left_wheel">
  <inertial>
    <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 ${pi}"/>
    <mass value="${wheel_mass}"/>       
    <xacro:cylinder_inertia m="${wheel_mass}" radius="${wheel_radius}" length="${wheel_length}"/>
  </inertial>
  <visual>
      <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 ${pi}"/>
    <geometry>
      <mesh scale="${0.1} ${0.1}  ${0.1}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </visual>

  <collision>
    <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 ${pi}"/>
    <geometry>
      <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
    </geometry>
  </collision>
</link>

<link name="${prefix}rear_right_wheel">
  <inertial>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <mass value="${wheel_mass}"/>      
    <xacro:cylinder_inertia m="${wheel_mass}" radius="${wheel_radius}" length="${wheel_length}"/>
  </inertial>
  <visual>
      <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 0.0"/>
    <geometry>
      <mesh scale="${0.1} ${0.1}  ${0.1}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </visual>

  <collision>
    <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 0.0"/>
    <geometry>
      <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
    </geometry>
  </collision>
</link>


<gazebo reference="${prefix}front_left_wheel">
  <!-- TODO: Fix the material tag (this isn't the proper way to do it, and spits out warnings) -->
  <material>Gazebo/Orange</material>
  <!-- see http://sdformat.org/spec?ver=1.12&elem=collision -->
  <collision>
    <surface>
        <friction>
            <ode>
                <!--
                In this case, the wheels need lower sideways than forwards coefficients of friction
                so that the rover can turn (skid steer) -->
                <!-- forward coefficient of friction -->
                <mu>0.3</mu>
                <!-- perpendicular coefficient of friction -->
                <mu2>1</mu2>
                <!--
                However, since mu/mu2 are normally relative to world coordinates,
                the rover would only be able to turn 90 degrees either way before they swapped, making turning impossible.
                To solve this, we need to specify the direction that mu/mu2 are relative to.
                -->
                <fdir1>1 0 0</fdir1>
            </ode>
        </friction>
    </surface>
  </collision>
</gazebo>


<gazebo reference="${prefix}front_right_wheel">
  <!-- TODO: Fix the material tag (this isn't the proper way to do it, and spits out warnings) -->
  <material>Gazebo/Orange</material>
  <!-- see http://sdformat.org/spec?ver=1.12&elem=collision -->
  <collision>
    <surface>
        <friction>
            <ode>
                <!--
                In this case, the wheels need lower sideways than forwards coefficients of friction
                so that the rover can turn (skid steer) -->
                <!-- forward coefficient of friction -->
                <mu>0.3</mu>
                <!-- perpendicular coefficient of friction -->
                <mu2>1</mu2>
                <!--
                However, since mu/mu2 are normally relative to world coordinates,
                the rover would only be able to turn 90 degrees either way before they swapped, making turning impossible.
                To solve this, we need to specify the direction that mu/mu2 are relative to.
                -->
                <fdir1>1 0 0</fdir1>
            </ode>
        </friction>
    </surface>
  </collision>
</gazebo>

<gazebo reference="${prefix}rear_right_wheel">
  <!-- TODO: Fix the material tag (this isn't the proper way to do it, and spits out warnings) -->
  <material>Gazebo/Orange</material>
  <!-- see http://sdformat.org/spec?ver=1.12&elem=collision -->
  <collision>
    <surface>
        <friction>
            <ode>
                <!--
                In this case, the wheels need lower sideways than forwards coefficients of friction
                so that the rover can turn (skid steer) -->
                <!-- forward coefficient of friction -->
                <mu>0.3</mu>
                <!-- perpendicular coefficient of friction -->
                <mu2>1</mu2>
                <!--
                However, since mu/mu2 are normally relative to world coordinates,
                the rover would only be able to turn 90 degrees either way before they swapped, making turning impossible.
                To solve this, we need to specify the direction that mu/mu2 are relative to.
                -->
                <fdir1>1 0 0</fdir1>
            </ode>
        </friction>
    </surface>
  </collision>
</gazebo>
<gazebo reference="${prefix}rear_left_wheel">
  <!-- TODO: Fix the material tag (this isn't the proper way to do it, and spits out warnings) -->
  <material>Gazebo/Orange</material>
  <!-- see http://sdformat.org/spec?ver=1.12&elem=collision -->
  <collision>
    <surface>
        <friction>
            <ode>
                <!--
                In this case, the wheels need lower sideways than forwards coefficients of friction
                so that the rover can turn (skid steer) -->
                <!-- forward coefficient of friction -->
                <mu>0.3</mu>
                <!-- perpendicular coefficient of friction -->
                <mu2>1</mu2>
                <!--
                However, since mu/mu2 are normally relative to world coordinates,
                the rover would only be able to turn 90 degrees either way before they swapped, making turning impossible.
                To solve this, we need to specify the direction that mu/mu2 are relative to.
                -->
                <fdir1>1 0 0</fdir1>
            </ode>
        </friction>
    </surface>
  </collision>
</gazebo>

</robot>