<?xml version="1.0"?>
<robot name="wheel" xmlns:xacro="http://ros.org/wiki/xacro">


<link name="${prefix}front_left_wheel">
  <!-- <inertial>
  </inertial> -->
  <visual>
    <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 ${pi}"/>
    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </visual>
  <collision>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi}"/>
    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </collision>
</link>


<link name="${prefix}front_right_wheel">
  <!-- <inertial>
  </inertial> -->
  <visual>
      <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 0.0"/>

    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </visual>

  <collision>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </collision>
</link>

<link name="${prefix}rear_left_wheel">
  <!-- <inertial>
  </inertial> -->
  <visual>
      <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 ${pi}"/>

    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </visual>

  <collision>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi}"/>
    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </collision>
</link>

<link name="${prefix}rear_right_wheel">
  <!-- <inertial>
  </inertial> -->
  <visual>
      <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 0.0"/>

    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </visual>

  <collision>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </collision>
</link>



</robot>