<?xml version="1.0"?>
<robot name="wheel" xmlns:xacro="http://ros.org/wiki/xacro">


<link name="${prefix}front_left_wheel">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.2"/>
    <inertia ixx="0.00014" iyy="0.00014" izz="0.00025" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 ${pi}"/>
    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </visual>
  <collision>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi}"/>
    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </collision>
</link>


<link name="${prefix}front_right_wheel">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.2"/>
    <inertia ixx="0.00014" iyy="0.00014" izz="0.00025" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
      <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 0.0"/>

    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </visual>

  <collision>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </collision>
</link>

<link name="${prefix}rear_left_wheel">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.2"/>
    <inertia ixx="0.00014" iyy="0.00014" izz="0.00025" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
      <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 ${pi}"/>

    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </visual>

  <collision>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi}"/>
    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </collision>
</link>

<link name="${prefix}rear_right_wheel">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.2"/>
    <inertia ixx="0.00014" iyy="0.00014" izz="0.00025" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
      <origin xyz="0.0 0.0  0.0" rpy="0.0 0.0 0.0"/>

    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </visual>

  <collision>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <geometry>
      <mesh scale="${0.1/scale_factor} ${0.1/scale_factor}  ${0.1/scale_factor}" filename="file://$(find perseus_description)/meshes/wheel.dae"/>
    </geometry>
  </collision>
</link>


<gazebo reference="${prefix}front_left_wheel">
  <material>Gazebo/Orange</material>
  <collision>
    <surface>
        <friction>
            <ode>
                <mu>0.01</mu>
                <mu2>0.01</mu2>
                <fdir1>1 0 0</fdir1>
            </ode>
        </friction>
    </surface>
  </collision>
</gazebo>


<gazebo reference="${prefix}front_right_wheel">
  <material>Gazebo/Orange</material>
  <collision>
    <surface>
        <friction>
            <ode>
                <mu>0.01</mu>
                <mu2>0.01</mu2>
                <fdir1>1 0 0</fdir1>
            </ode>
        </friction>
    </surface>
  </collision>
</gazebo>

<gazebo reference="${prefix}rear_right_wheel">
  <material>Gazebo/Orange</material>
  <collision>
    <surface>
        <friction>
            <ode>
                <mu>0.01</mu>
                <mu2>0.01</mu2>
                <fdir1>1 0 0</fdir1>
            </ode>
        </friction>
    </surface>
  </collision>
</gazebo>
<gazebo reference="${prefix}rear_left_wheel">
  <material>Gazebo/Orange</material>
  <collision>
    <surface>
        <friction>
            <ode>
                <mu>0.01</mu>
                <mu2>0.01</mu2>
                <fdir1>1 0 0</fdir1>
            </ode>
        </friction>
    </surface>
  </collision>
</gazebo>

</robot>